body {
    background-color: black;
    color: white;
    color-scheme: dark;
    margin: 0;
    padding: 0;
}

@media screen and (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
        color-scheme: light;
    }
}

.checks-frame {
    max-height: calc(100vh - 130px);
}

.checks-frame > fieldset {
    height: 100%;
    overflow: scroll;
}

.container-fluid {
    height: 100vh;
    max-height: 100vh;
    position:relative;
    overflow: hidden;
}

.connection-frame {
    height: 75px;
}

.layout-grid-container {
    display: grid;
    grid-template-columns: 1fr 1.75fr 1fr;
    height: 100vh;
}

p {
    margin: 0;
}

.map-view {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    max-height: calc(100vh - 130px);
}

.inventory-resource-container {
    display: flex;
    justify-content: space-around;
}

.inventory-resource-container > div > img {
    width: 32px;
    height: 32px;
}

.inventory-sprite-container {
    display: flex;
    flex-wrap: wrap;
}

.inventory-sprite-container > img {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 5px;
}